{
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "pugSingleQuote": false,
  "pugPrintWidth": 120,
  "pugSemi": false,
  "pugTabWidth": 2,
  "pugUseTabs": false,
  "pugAttributeSeparator": "none",
  "pugClosingBracketPosition": "new-line",
  "pugCommentPreserveSpaces": "trim-all",
  "pugSortAttributes": "as-is",
  "pugWrapAttributesThreshold": 3,
  "pugSingleFileComponentIndentation": false
}
