@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-serif: 'Gelasio', serif;
  /* --font-serif--font-feature-settings: "cv02", "cv03", "cv04", "cv11"; */
  --font-serif--font-variation-settings: 'wdth' 100;

  --font-sans: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue,
    Arial, Noto Sans, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@theme {
  --color-cyansq-50: oklch(96.62% 0.019 200.78);
  --color-cyansq-100: oklch(93.88% 0.033 201.16);
  --color-cyansq-200: oklch(87.53% 0.067 199.49);
  --color-cyansq-300: oklch(81.65% 0.09 199.97);
  --color-cyansq-400: oklch(75.89% 0.107 200.51);
  --color-cyansq-500: oklch(69.94% 0.108 200.44);
  --color-cyansq-600: oklch(58.95% 0.091 200.78);
  --color-cyansq-700: oklch(48.09% 0.073 201.3);
  --color-cyansq-800: oklch(36.86% 0.055 200.38);
  --color-cyansq-900: oklch(24.04% 0.033 201.75);
  --color-cyansq-950: oklch(17.71% 0.023 200.36);

  --color-bluesq-50: oklch(98.4% 0.006 255.49);
  --color-bluesq-100: oklch(95.61% 0.017 259.43);
  --color-bluesq-200: oklch(92.25% 0.03 254.32);
  --color-bluesq-300: oklch(87.65% 0.052 253.72);
  --color-bluesq-400: oklch(79.16% 0.088 249.49);
  --color-bluesq-500: oklch(71.23% 0.124 245.96);
  --color-bluesq-600: oklch(63.65% 0.107 245.72);
  --color-bluesq-700: oklch(54.99% 0.088 246.75);
  --color-bluesq-800: oklch(47.28% 0.072 247.64);
  --color-bluesq-900: oklch(38.78% 0.054 247.53);
  --color-bluesq-950: oklch(35.21% 0.045 249.22);

  --color-bgsq-50: oklch(95.8% 0.02 279.99);
  --color-bgsq-100: oklch(92.48% 0.037 280.64);
  --color-bgsq-200: oklch(86.58% 0.067 279.33);
  --color-bgsq-300: oklch(81.58% 0.093 278.77);
  --color-bgsq-400: oklch(75.67% 0.126 276.97);
  --color-bgsq-500: oklch(69.82% 0.159 274.8);
  --color-bgsq-600: oklch(64.07% 0.192 271.98);
  --color-bgsq-700: oklch(58.27% 0.227 268.13);
  --color-bgsq-800: oklch(52.98% 0.262 262.79);
  --color-bgsq-900: oklch(35.64% 0.176 262.81);
  --color-bgsq-950: oklch(27.61% 0.136 262.78);

  --color-redsq-50: oklch(92.68% 0.038 9.86);
  --color-redsq-100: oklch(90.31% 0.051 13.65);
  --color-redsq-200: oklch(83.85% 0.089 19.12);
  --color-redsq-300: oklch(78.3% 0.128 15.61);
  --color-redsq-400: oklch(72.89% 0.171 11.75);
  --color-redsq-500: oklch(67.51% 0.223 7.78);
  --color-redsq-600: oklch(62.71% 0.253 3.53);
  --color-redsq-700: oklch(56.41% 0.229 359.25);
  --color-redsq-800: oklch(50.21% 0.206 355.78);
  --color-redsq-900: oklch(43.73% 0.181 352.55);
  --color-redsq-950: oklch(40.23% 0.168 349.81);

  --color-yellowsq-50: oklch(95.53% 0.077 96.32);
  --color-yellowsq-100: oklch(94.67% 0.104 98.63);
  --color-yellowsq-200: oklch(93.79% 0.137 100.54);
  --color-yellowsq-300: oklch(89.25% 0.187 101.46);
  --color-yellowsq-400: oklch(84.23% 0.176 100.8);
  --color-yellowsq-500: oklch(79.92% 0.166 99.3);
  --color-yellowsq-600: oklch(75.67% 0.157 98.51);
  --color-yellowsq-700: oklch(70.65% 0.146 97.93);
  --color-yellowsq-800: oklch(66.27% 0.137 96.88);
  --color-yellowsq-900: oklch(61.07% 0.126 96);
  --color-yellowsq-950: oklch(59.45% 0.122 95.49);
}

/*
  Enter and leave animations can use different
  durations and timing functions.
*/
.slide-fade-enter-active {
  transition: all 0.15s;
  opacity: 1;
  @apply fixed top-0;
}

.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
  opacity: 0;
  @apply fixed top-0;
}

.slide-fade-enter-from {
  @apply translate-y-2;
}
.slide-fade-leave-to {
  @apply -translate-y-2;
}

.sq-content {
  @apply text-bluesq-800 tracking-wide leading-7;

  & h1 {
    @apply text-bluesq-600 text-3xl font-serif font-semibold mb-4 mt-8;
  }

  & strong {
    @apply text-bluesq-600;
  }

  & h2 {
    @apply text-xl font-serif font-semibold mb-4 mt-6;
  }

  & p {
    @apply text-base font-sans mb-3 tracking-wide leading-8;
  }

  & a {
    @apply text-redsq-400 underline decoration-dotted decoration-redsq-100 underline-offset-2 hover:underline-offset-4 hover:text-redsq-600 transition-colors hover:-translate-y-1 duration-100 ease-in-out;
  }
}

.page--title {
  @apply mt-32 mb-16 pl-8 text-5xl font-serif tracking-[.1rem] text-bluesq-400 lowercase;

  & :not(.letter-lead--title) {
    @apply underline underline-offset-8 decoration-1 decoration-bluesq-400;
  }

  .letter-lead--title {
    @apply text-redsq-300 px-1 bg-redsq-50/25 underline decoration-2 underline-offset-8 decoration-redsq-300;
  }
}

.bg-plus-sq {
  background-image: url('/plus-sq.svg');
}

.container-sq {
  @apply px-10 xl:px-32 top-0 bottom-0 xl:inset-x-16 min-w-sm w-[75%] lg:min-w-lg lg:w-[51%] fixed
    bg-white overflow-y-auto drop-shadow-2xl drop-shadow-bluesq-200;

  @apply border-x-2 border-bgsq-400/20;
}
